# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GP-ZS-67-main.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
